# Notebook №3. Information systems

## Performed by a student of the IS-20-1 group, Khromenko Danil.
<br>

### Input-output of lists

**Turning a string into a list** <br>
Let's take a string consisting of words separated by spaces (maybe more than one) and end-of-line characters.

In [1]:
# String input and output
s = "hello world    this is    a\ntest"
print(s)

hello world    this is    a
test

If we want to work with individual words included in this string, then we need to divide it into
separate words — that is, get a list consisting of words that are included in this string. To
do this, you can use the split() method.

In [2]:
# creating a list from a string
s.split()

['hello', 'world', 'this', 'is', 'a', 'test']

We got exactly what we wanted. Note that
spaces (one or more) were used as a separator in this case, as well as any whitespace characters, which
include the tab character (we did not have it) and the newline character \n. Separators do not fall into the elements
of the resulting list.

**Important!** The split() method does not change the string.

In [3]:
# The split() method does not change the string
print(s)

hello world    this is    a
test

If you want to do something further with the list obtained
as a result of using split(), and not just admire it and forget it forever, then you need,
for example, to save it as some kind of variable.

In [4]:
# now the result of executing s.split() will be saved to the words variable
words = s.split()
# output of words from the list using the for loop
for word in words:
    print(word)

hello
world
this
is
a
test

The split() method has an optional separator parameter. If it is specified, then the line
it is split according to the separator that was passed to it.

In [5]:
# we will pass 4 spaces as a separator
s.split("    ")

['hello world', 'this is', 'a\ntest']

We passed four spaces as a separator and now the string is divided by them, and one
space or a newline character is not perceived as a separator.

Let's say we want to enter several numbers separated by commas and output each of them increased by 1. As we know, the split() method turns a string into a list of strings. To avoid errors when trying to sum strings and numbers, you need to turn strings into numbers.

In [6]:
# entering a string of numbers
s = input("Enter several numbers separated by commas: ")
# turning a string into a list of strings
numbers = s.split(",")
# output of numbers from the list of strings + 1
for number in numbers:
    # turning strings into numbers
    num = int(number)
    # output of the number + 1
    print(num + 1)

Enter several numbers separated by commas: 1,2,54,69
2
3
55
70

**Displaying the list in a line** <br>
Now let's solve the inverse problem: there is a list, we want to output it in some form. There are different
ways to do this. For example, you can just print it out.

In [7]:
# creating and displaying a list
elements = ["One", "Two", "Three"]
print(elements)

['One', 'Two', 'Three']

In [8]:
# it is possible to make the result more beautiful through
# the cycle as it was done before
for num in elements:
    print(num)

One
Two
Three

This is how it is output in a column, because print() adds a newline character by default
\n at the end of each output line. If we want to output the list items in some other way,
for example, in a line, but without brackets, commas and quotes, then we need to use other methods.
The first of them is the use of the join() method.

In [9]:
# output of items from the list using different separators using join()
print(" ".join(elements))
print("\t".join(elements))
print("___".join(elements))

One Two Three
One	Two	Three
One___Two___Three

This is a convenient method, but it has a limitation: it requires that the list that was submitted to him for
input consist of strings. If there are other objects among its elements, it breaks.

In [10]:
# error when trying to use join() when processing a list of numbers
numbers = [69, 54, -123]
print(", ".join(numbers))

TypeError: sequence item 0: expected str instance, int found

You can cheat and pass individual elements of the list to the print() method, it will print them without brackets and separated by a space
(generally speaking, any character — this is configured using the sep parameter).

In [11]:
# list output element by element using indexes
print(numbers[0], numbers[1], numbers[2])

69 54 -123

The line above gives the result we wanted, but it will only work
if there are exactly three elements in the list: if there are more elements, only three will be output, if
less, an error occurs. Fortunately, Python has a construction that allows
you to "strip" a list — to pass all its elements to some function separated by commas. This is done with
an asterisk ( * ).

In [12]:
# output a list of numbers using an asterisk
print(*numbers)

69 54 -123

If you do not want to use a space, but some kind of separator, then this is also possible.

In [13]:
# using sep to separate list items
print(*numbers, sep = ",\t")

69,	54,	-123

**Strings and slices** <br>
Strings can behave almost like lists. For example, you can access individual elements
of a string (individual characters) or make slices.

In [14]:
# creating a string
s = "This is a test"
# output of different characters of a string
print(s[6])
print(s[0])
print(s[8:14])
print(len(s)) # output of string length

s
T
a test
14

### Algorithms with loops

Consider an example of an algorithm that uses a loop. <br>
Recall how last time we searched for Fibonacci numbers. <br>
First we perform *initialization* — we set the initial values of the variables that
we will need in the future. Initially, we know the values of the first two Fibonacci numbers (these are ones); we will write them into variables and in the future we will store the next two
found Fibonacci numbers necessary to find the next number. <br>
Then we write the code that makes the transition to the next number. We will perform it
several times, each time getting a new Fibonacci number. <br>
This approach works pretty well, but if we had to find the 115th Fibonacci number,
we would be tormented by restarting the cell. Instead, we use the for loop, which will
automatically execute a piece of code that calculates the next number as many times as we
need.

In [15]:
# initialization
a = b = 1
for i in range(115):
    #cycle body - calculating the fibonacci number
    c = a + b
    a = b
    b = c
print("115th Fibonacci number is ", c)

115th Fibonacci number is  1264937032042997393488322

Another example: let's say we would like not to display the found Fibonacci numbers on the screen, but
to write them down in a list. To do this, we slightly modify the code above: instead
of the print() command, we need to substitute a command that will add the found number to some list. However,
in order to have a place to add, this list must be created in advance. Initially, it can also be
empty — such a list is indicated by empty square brackets.

In [16]:
a = 1 # first number
b = 1 # second number
fib = [] # created an empty fib list
for i in range(20):
    c = a + b
    a = b
    b = c
    fib.append(c) # wrote an item to the end of the fib list
print(fib)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

### Checking conditions

During the execution of the program, it is sometimes required, depending on some conditions, to execute a
particular piece of code. For example, if the user entered the wrong data that was requested from him
(if you wanted a positive number, but got a negative one), then you need to output an error and ask
to enter the data again. The solution to this problem is divided into several steps: first you need
to check some condition, and then, depending on the result of this check, choose which code
to execute. Let's start by checking the conditions.

In [17]:
# checking conditions
print(6 < 8)
print(6 == 8)

True
False

The word True that he gave out is not just a word meaning "true", but
a special logical meaning. It is also called "Boolean".

In [18]:
# the result can be written to a variable
condition = (8 == 8)
print("8 = 8? ", condition)
# we can find out the type of variable
type(condition)

8 = 8?  True

bool

Please note: here you need to write the equality symbol twice, because one sign is equal to
— this is an assignment operation ("assign what is on the right to what is on the left"), and
the equality check operation is a completely different thing.

In [19]:
# here we do the assignment
a = 5
# and here is a comparison
print("a = 5? ", a == 5)
print("a = 7? ", a == 7)

a = 5?  True
a = 7?  False

I must say that the comparison works in a fairly reasonable way. For example, the number 7 and the number
7.0 is, strictly speaking, different objects (the first is an integer, the second is a floating—point number
), but it is clear that as numbers they are the same object. Therefore , the comparison will return True .

In [20]:
# comparison of different types of data, identical in meaning
7 == 7.0

True

### If statement

You need to pay attention to several things: first, a condition is specified after if
, and a colon is necessarily placed after the condition (as in cycles), then there is a block of commands that
are executed if the condition is true (that is, it is True). As in loops, this block
of commands should be indented. Commands that are not included in the block are executed in any case. <br>

If we want to handle both situations separately: when the condition is met and when it is not
met. To do this, use the else keyword. <br>

The if-else construct works as an alternative: either one code snippet is executed (after if
— if the condition is true), or another (after else — if incorrect).

In [21]:
# Entering a number
a = int(input("Enter a positive number: "))
# Code execution if the condition is true
if a > 0:
    print("Thank you!")
# Code execution if the condition is false
else:
    print("I asked for a positive... \t:(")
# Code execution regardless of the condition
print("You entered", a)

Enter a positive number: 1
Thank you!
You entered 1

Sometimes you need to check several conditions in a row.

Then the keyword elif is used , which is a combination of the words else and if . The conditions
are checked in turn, starting from the first one; as soon as one of the conditions turns out to be true,
the corresponding block is executed and the other conditions are not checked.

In [22]:
# checking multiple conditions in a row
a = int(input("Enter some number: "))
if a > 0:
    print("You entered a number greater than zero!")
elif a < 0:
    print("You entered a number less than zero!")
else:
    print("you entered ZERO!!!!!!")

Enter some number: 0
you entered ZERO!!!!!!

### Difficult conditions

Let's say we need to check the fulfillment of several conditions. Let's say we want to get a number
from 0 to 100 — numbers less than 0 or more than 100 do not suit us. This could be done with
a few nested if statements like this.

In [23]:
a = int(input("Please enter a number from 0 to 100: "))
if a <= 100:
    if a >= 0:
        print("Thank you!!! :D")
    else:
        print("You made a mistake, it's not a number from 0 to 100")
else:
    print("You made a mistake, it's not a number from 0 to 100")

Please enter a number from 0 to 100: 77
Thank you!!! :D

This code is quite cumbersome, the line with the error message had to be copied twice. Not very good. It turns out that you can implement the same functionality easier.

In [24]:
a = int(input("Please enter a number from 0 to 100: "))
# using the "and" construct to combine conditions
if a <= 100 and a >= 0:
    print("Thank you!!! :D")
else:
    print("You made a mistake, it's not a number from 0 to 100")

Please enter a number from 0 to 100: 100
Thank you!!! :D

Here the keyword and is used , denoting the logical And operation . It does
the following: checks the left condition (in this case, a <= 100 ), checks the right condition ( a >=
100 ) and if both of these conditions are met (that is, they have the value True ), then the result
of and is True; if at least one of them is not met (that is has
the value False ), then the result of executing and is False . This way we can
check exactly the condition we are interested in.

It would be possible to rewrite this code in a different way, using the logical OR :

The result of executing or is true if at least one argument is
true. Finally, there is a third logical operator — this is negation ( not ). It has only one
argument and returns true if that argument is false, and vice versa.

In [25]:
a = int(input("Please enter a number from 0 to 100: "))
# using the "and" construct to combine conditions
if not (a <= 100 or a >= 0):
    print("You made a mistake, it's not a number from 0 to 100")
else:
    print("Thank you!!! :D")

Please enter a number from 0 to 100: 4
Thank you!!! :D

You can check how logical commands work by simply substituting True
or False as arguments:

In [26]:
True or False

True

In [27]:
True and False

False

In [28]:
to_be = False
to_be or not to_be

True

In [29]:
to_be = True
to_be or not to_be

True

### While loop

In [30]:
a = int(input("Please enter a number from 0 to 100: "))
while a>100 or a<0:
    print("You made a mistake, it's not a number from 0 to 100")
    a = int(input("Please enter a number from 0 to 100: "))
print("Nice!")

Please enter a number from 0 to 100: -1
You made a mistake, it's not a number from 0 to 100
Please enter a number from 0 to 100: 101
You made a mistake, it's not a number from 0 to 100
Please enter a number from 0 to 100: 50
Nice!

A situation
in which we have to copy some lines of code usually means that
a design error has been made. You can do this more gracefully with the break command — it
allows you to exit the loop. The following example also demonstrates an infinite loop: in theory
while True: must be executed as long as True is True, that is, forever. But we will exit
earlier using break .

In [31]:
correct_passwd = 'mastercode'
while True:
    passwd = input("Please, enter password: ")
    if passwd == correct_passwd:
        print("Access granted")
        break
    else:
        print("Access denied")

Please, enter password: pqwwdp
Access denied
Please, enter password: mastercode
Access granted

The break command can be used to exit any loop. Here is an example for the for loop :

In [32]:
numbers = [69, 8, 9, 54, -7, 9]
for i in numbers:
    if i < 0:
        print("Negative number \"", i,"\" detected!!!! AAAAAAAA")
        break
    print(i)

69
8
9
54
Negative number " -7 " detected!!!! AAAAAAAA

### Numeration of list items

In [33]:
# there is a list, you need to output its elements and their indexes
numbers = [7, 8, 9, 43]
i = 0 # the index will be stored here
for n in numbers:
    print(i, n)
    i += 1 # # this line is equivalent to i = i + 1

0 7
1 8
2 9
3 43

Not the most elegant solution — you have to enter some variable i, initialize it before
entering the loop and do not forget to add one to it inside the loop.

Another solution:

In [34]:
numbers = [7, 8, 9, 43]
for i in range(len(numbers)):
    print (i, numbers[i])

0 7
1 8
2 9
3 43

It is also not the height of elegance: here we have to write numbers[i] every time, and in general, clarity suffers: looking at the for loop, it is unclear that we are going to iterate over the elements
of the numbers list.

The correct Python approach looks like this:

In [35]:
numbers = [7, 8, 9, 43]
for i, n in enumerate(numbers, 2):
    print(i,n)

2 7
3 8
4 9
5 43

Let's see how enumerate() works:

In [36]:
enum = list(enumerate(numbers))
enum

[(0, 7), (1, 8), (2, 9), (3, 43)]

As a result of enumerate execution, a thing is returned that behaves like a list
whose elements are pairs of numbers (in fact, these are tuples, tuple, that is, immutable
lists). In each pair, the first number is an index, and the second is an element of the original list.

Further, when executing the for loop, the list assignment mechanism is used.

In [37]:
a, b = (7, 9)
print(a)
print(b)

7
9

If there are several variables separated by commas on the left side of the equal sign
, and some object behaving like a list on the right, and the number of its elements is equal to the number
of variables, then the assignment goes element by element: the first element of the list to the first variable,
the second to the second, etc.

In [38]:
a, b, c = (1, 2, 3)
print(c)

3

Now note that in the for loop, we have two
variables (separated by commas) as the loop variable. What happens when we get into the loop for the first time? for will take
the first element from enumerate(numbers) . This is a pair of numbers:

In [39]:
enum[0]

(0, 7)

In [40]:
# Now he equates this pair of numbers to a pair of variables: i and n:
i, n = enum[0]

Now i contains 0 (the index of the first element numbers , and n contains the first element numbers itself . And so on, at each step in i there will be a corresponding index, a corresponding number.



At the same time, the result is much more elegant than the previous ones: no need to somehow
explicitly describe what is happening with i , and the meaning of what is happening is clear when looking at the line with for .